reparticion,localidad,establecimiento,codigo_sisa
Ministerio de Salud,Corrientes,Hospital J. R. Vidal,1800200100
Ministerio de Salud,Corrientes,Hospital Escuela Jose Francisco de San Martin,1800200200
Ministerio de Salud,Goya,Hospital San Martin de Porres,1802100100
Ministerio de Salud,Mercedes,Hospital San Roque,1805400100
